/* Card */
.book-card {
    border-radius: 10px;
    overflow: hidden;
}

/* Fixed image container */
.book-img-wrapper {
    width: 100%;
    height: 240px; /* SAME HEIGHT */
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Image control */
.book-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* IMPORTANT */
}
/*New Code*/
.floating-card{
    width:480px;
    border-radius:16px;
    background:white;
    animation:floatIn .4s ease;
}

@keyframes floatIn{
    from{
        transform:translateY(40px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
